@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: whitesmoke;
  background-color: #081c29;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  background: #081c29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.logo :hover {
  color: aqua;
}
.navitem {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navitem :hover {
  color: aqua;
}

.wrapper {
  padding: 10% 5% 5% 5%;
}

.container-profile {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.profile-photo {
  display: flex;
  position: relative;
  width: 40%;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  width: 400px;
  height: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid aqua;
  box-shadow: 0 0 20px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua;
}
/* #profile-pic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid aqua;
  background: linear-gradient(45deg, #081c29, #081c29, #081c29, #081c29);
  z-index: -1;
} */

.home {
  position: relative;
  width: 60%;
  min-width: 60%;
  justify-content: space-between;
  height: 100%;
  /* background: url(prof.jpeg) no-repeat;
  background-size: cover;
  background-position: center; */
  display: flex;
  align-items: center;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}
.home-content p {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.5;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 50%;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.home-sci a:hover {
  background: aqua;
  color: #161718;
  box-shadow: 0 0 20px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  border: 2px solid aqua;
  background: aqua;
  border-radius: 40px;
  font-size: 16px;
  color: #182b64;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-sizing: border-box;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.btn-box:hover {
  background: transparent;

  color: aqua;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  margin-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about-text h2 {
  font-size: 60px;
}
.about-text h2 span {
  color: aqua;
}
.about-text h4 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 15px 0 20px;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span {
  color: aqua;
}
.container {
  padding: 90px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background-color 0.5s transfer 0.5s;
  box-shadow: 1px 1px 20px aqua, 1px 1px 20px aqua, 1px 1px 20px aqua,
    1px 1px 20px aqua;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition: 0.5s;
}

.services-list div:hover {
  background-color: aqua;
  color: #161718;
  /* box-shadow: 0 0 20px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua; */
}
section {
  display: flex;
  flex-wrap: wrap;
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.bar {
  font-size: 23px;
}
.technical-bars .bar {
  margin-top: 40px 0;
}
.technical-bars .bar:first-child {
  margin-top: 0;
}
.technical-bars .bar:last-child {
  margin-bottom: 0;
}
.technical-bars .bar .info {
  margin-bottom: 5px;
}
.technical-bars .bar .span {
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  -webkit-animation: showText 0.5s 1s linear forwards;
  animation: showText 0.5s 1s linear forwards;
}
.technical-bars .bar .progress-line {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  -webkit-animation: animate s1 cubic-bezier(1, 0, 0, 5, 1) forwards;
  animation: animate s1 cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: aqua;
  position: absolute;
  /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; */
  border-radius: 10px;
  /* -webkit-animation: animate 1s 1.5s cubic-bezier(1, 0, 0, 5, 1) forwards; */
  animation: animate 1s 1.5s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform-origin: left;
}
.progress-line.c span {
  width: 60%;
}
.progress-line.cpp span {
  width: 90%;
}
.progress-line.java span {
  width: 75%;
}
.progress-line.klt span {
  width: 50%;
}
.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: black;
  color: white;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  -webkit-animation: showText 0.5s 1.5s linear forwards;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.c span::after {
  content: "60%";
}
.progress-line.cpp span::after {
  content: "90%";
}
.progress-line.java span::after {
  content: "75%";
}
.progress-line.klt span::after {
  content: "50%";
}
.progress-line span::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.radial-bars {
  width: 100%;
  display: flex;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
  /* flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;   */
}
.radial-bars .radial-bar .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg); 
  width: 120px;
  height: 160px;
}
.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  -webkit-animation: animate-bar 1s linear forwards;
  animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
.path {
  stroke-width: 10;
  stroke: aqua;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  -webkit-animation: animate-bar 1s linear forwards;
  animation: animate-bar 1s linear forwards;
}
.path-1 {
  animation: animate-path1 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s linear forwards;
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
}
