@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: whitesmoke;
  background-color: #081c29;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  background: #081c29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.logo :hover {
  color: aqua;
}
.navitem {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navitem :hover {
  color: aqua;
}

.wrapper {
  padding: 10% 5% 5% 5%;
}

.container-profile {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.profile-photo {
  display: flex;
  position: relative;
  width: 40%;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  width: 400px;
  height: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid aqua;
  box-shadow: 0 0 20px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua;
}
/* #profile-pic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid aqua;
  background: linear-gradient(45deg, #081c29, #081c29, #081c29, #081c29);
  z-index: -1;
} */

.home {
  position: relative;
  width: 60%;
  min-width: 60%;
  justify-content: space-between;
  height: 100%;
  /* background: url(prof.jpeg) no-repeat;
  background-size: cover;
  background-position: center; */
  display: flex;
  align-items: center;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}
.home-content p {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.5;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 50%;
  font-size: 20px;
  color: aqua;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.home-sci a:hover {
  background: aqua;
  color: #161718;
  box-shadow: 0 0 20px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  border: 2px solid aqua;
  background: aqua;
  border-radius: 40px;
  font-size: 16px;
  color: #182b64;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-sizing: border-box;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.btn-box:hover {
  background: transparent;

  color: aqua;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  margin-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about-text h2 {
  font-size: 60px;
}
.about-text h2 span {
  color: aqua;
}
.about-text h4 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 15px 0 20px;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span {
  color: aqua;
}
.container {
  padding: 90px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background-color 0.5s transfer 0.5s;
  box-shadow: 1px 1px 20px aqua, 1px 1px 20px aqua, 1px 1px 20px aqua,    1px 1px 20px aqua;
  transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -webkit-transition: 0.5s;
}

.services-list div:hover {
  background-color: aqua;
  color: #161718;
  /* box-shadow: 0 0 20px aqua, 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua; */
}
